* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    font-family: "Pridi", "Times New Roman", Georgia;
    color: rgb(77, 73, 73);
    background-color: rgba(0, 0, 0, 0.04);
    margin: 0;
}
.container {
    display: flex;

}
.background {
    background-image: url(background-image.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
    color: wheat;

}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25vh;
    width: 40vw;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.5);
    
}

img {
    padding: 1rem;
    padding-right: 0;
    height: auto;
    width: 100px;
}
.headings {
    max-width: 50ch;
    padding: 5rem;
}
.form-section {
   
    width: 100%;
    margin: 0 auto; /* Center the form horizontally */
}
.form-container {
    width: 100%;
    background-color: white;
    padding: 5rem;
}

.form-row {
    display: flex;
    gap: 40px;
    
    
}
fieldset {
    border-style: none;
}
input {
    border-radius: 4px;
    border: solid rgba(185, 185, 185, 0.384) 1px;
    height: 25px;
    width: 200px;
}
legend {
    margin-bottom: 1rem;
}
label {
    font-family: "Pridi", "Times New Roman", Georgia;
    font-weight: 300; 
    
}
.bottom-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
    gap: 1rem;

}
.span-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
span {
    font-weight: bold;
}
button {
    font-size: 2rem;
    padding: 1rem;
    border-style: none;
    border-radius: 1rem;
    background-color: rgb(103, 177, 174);
    color:wheat;
}
button:active {
    border: solid black 1px;
}
input:focus {
    outline: none;
    border: solid rgb(101, 139, 201) 3px;
}